*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-sarif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(135deg,#153677,#4e085f);
    height: 100vh;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    border: 1px;


}
.todo-app{
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    padding: 40px 30px 70px ;
    border-radius: 50px 2px;

}
.todo-app h2{
    color: #003765;
    display: flex;
    align-items: center;
}
.todo-app h2 .fa-clipboard-list{
    margin-left: 10px;
    color: rgb(155, 152, 152);
}
.row{
    display:flex;
    align-items: center;
    justify-content: space-between ;
    border-radius: 50px;
    margin-top: 1rem;
    padding: 0 20px;
    background-color: #edeef0;
}
.row input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.2rem;
}
.row button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #ff5945;
    border-radius: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-weight: 900;
}
#list-container{
    list-style: none;
    margin-top: 1rem;
}
.fa-circle-check{
    margin-right: 10px;
    font-size: 1.2rem;
    background-color: #ff5945;
    color: rgb(255, 255, 255);
    border-radius: 50%;

}
ul li {
    /* text-decoration: line-through; */
    position: relative;
    margin-top: 1rem;
}

.clearSpan{
    position: absolute;
    right: 0;
    color: #555;
    text-align: center;
    margin-top: 2px;
    padding: 2px;
    cursor: pointer;
    width: 35px;
    height: 28px;
    border-radius: 15px;
}
.clearSpan:hover{
    background-color: #edeef0;
}


@media screen and (max-height: 600px) {
    body {
       /* todo app
        add girilen değer arttığında yukarıya doğru değil aşağıy doğru hareket edecek bunuda max height ile ayar layacağım  */
    }
  }
