body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputs{
    margin: auto;
}
.text{
    margin: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding:.5rem 1rem ;

}
button{
    letter-spacing: 3px;
}

.giris button{
    background-color: rgb(75, 58, 58);
    color: white;
    border: none;
    border-radius: 20px;
    width: 100%;
    margin: auto;
    font-size: 1.3rem;
    font-weight: bold;
    padding:.5rem 0 ;

}

/*****************************/















