input,button{
    border: none;
    outline: none;
    background-color: rgb(231, 218, 218);
}
input:focus{
    background-color: white;
}
button{
     font-weight: 600;
     color: white;
     font-style: italic;
}
.mybg{
    background:linear-gradient(45deg,#780206,#061161);
   
}
