.w-4{
    width: 400px;
}
.b{
    border: 2px solid red;
}
.txt,.email{
    border: none;
    border-bottom: 2px solid red;
}
.yorum{
    margin-top: 50px;
    background-color: #FFF4E0;
    border-radius: 10px;
}
.yorum input,textarea{
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.p_star{
    display: flex;
    justify-content: space-between;
}
.btn-danger{
    border: none;
    padding: 5px;
}
