*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4c531;
}
.container{
    background-color: #ffffff;
    width: 90vw;
    max-width: 34rem;
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;
    padding: 3rem;
    border-radius: .8rem;
    box-shadow: 0 1.2rem 2.4rem rgb(111, 85, 0, 0.25);
}
#optoins-container{
    text-align: center;
}
#optoins-container div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.2rem 0 2.4rem 0;
}
#optoins-container button{
    padding: .6rem 1.2rem;
    border: 3px solid black;
    color: black;
    border-radius: .3rem;
    text-transform: capitalize;
}
#optoins-container button:disabled{
    border: 3px solid #808080;
    background-color: #efefef;
}
#optoins-container button.active{
    background-color: #f4c531;
    border: 3px solid black;
    color: black;
    
}
.letter-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .6rem;

}
#letter-container button{
    height: 2.4rem;
    width: 2.4rem;
    border: 1px solid black;
    border-radius: .3rem;
    background-color: #ffffff;
}
/* .new-game-popup{
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}
#new-game-button{
    padding: 1rem;
    font-size: 2em;
    border-radius: 1rem;
    background-color: #f4c531;
    font-weight: bold;
} */
.hide{
    /* display: none; */
}






















